@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
td {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*{
  margin: 2px;
  padding: 3px;
}

body{
  background: #000;
  color: #00F72A;
}

.box-img, img{
  width: 200px;
  border-radius: 50px;
}

 
 .button-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.show-modal, #button-img{
  width: 100px;
}
