.bottom-sheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.1s linear;
}

.bottom-sheet.show {
  opacity: 1;
  pointer-events: auto;
}
.bottom-sheet .sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #000;
}
.bottom-sheet .content {
  width: 100%;
  position: relative;
  background: #fff;
  max-height: 100vh;
  height: 50vh;
  max-width: 1150px;
  padding: 25px 30px;
  transform: translateY(100%);
  border-radius: 12px 12px 0 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.03);
  transition: 0.3s ease;
}
.bottom-sheet.show .content{
  transform: translateY(0%);
}
.bottom-sheet.dragging .content {
  transition: none;
}
.bottom-sheet.fullscreen .content {
  border-radius: 0;
  overflow-y: hidden;
}
.bottom-sheet .header {
  display: flex;
  justify-content: center;
}
.header .drag-icon {
  cursor: grab;
  user-select: none;
  padding: 15px;
  margin-top: -15px;
}
.header .drag-icon span {
  height: 4px;
  width: 40px;
  display: block;
  background: #C7D0E1;
  border-radius: 50px;
}
.bottom-sheet .body {
  height: 100%;
  overflow-y: auto;
  padding: 15px 0 40px;
  scrollbar-width: none;
}
.bottom-sheet .body::-webkit-scrollbar {
  width: 0;
}
.bottom-sheet .body h2 {
  font-size: 1.8rem;
}
.bottom-sheet .body p {
  margin-top: 20px;
  font-size: 1.05rem;
}

.vip{
  background-image: linear-gradient(to right, #000, #000,  #CFFF00);
  border: 3px solid #808080;
  border-radius: 7px;
  width: 90%;
  height: 115px;
  box-shadow:20px 17px 17px #000;
}

button{
  color:red;
  box-shadow:20px 17px 17px #000;
  border-radius: 7px;
  border: 3px solid red;
  width: 80%;
  height: 30px;
  background: #00FF0F;
}

.soon{
  font-family: neon;
    color: #fb4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #f40a35;
}

.soon{
  animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@keyframes flux {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
            0.5vw 0.5vw 0.1vw #147280;
        color: #28d7fe;
    }
    50% {
        text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180,
            0.5vw 0.5vw 0.1vw #0a3940;
        color: #146c80;
    }
}

/* навигариҳои вебсайт */

.cancel{
  border-radius: 5px;
}

.modal{
    width:300px;
    margin:auto;
    position: fixed;
    top:50%;
    left:50%;
    transition-delay: 2s;
    transform: translate(-50%, -50%) scale(0);
}
.modal .header{
    background-image: linear-gradient(to top left,
        #C086E1, #E8ABC7);
        min-height:200px;
        border-radius: 30px;
        position: relative;
        padding:20px 20px 100px 20px;
        opacity: 0;
        transition: 0.5s;
        transform: translate(0,70px);
}
.modal img{
    position: absolute;
}
.modal img:nth-child(1){
    top:-30px;
    width:90%;
    left:5%;
    opacity: 0;
    transform: translate(0,70px);
    transition: 0.7s;
}
.modal img:nth-child(2){
    top:170px;
    transform: rotate(80deg);
    width:100px;
    left:-50px;
    opacity:0;
    transition: 1s;

}
.modal img:nth-child(3){
    transform: rotate(-80deg);
    bottom:-90px;
    width:100px;
    right:-40px;
    opacity:0;
    transition: 1s;
}
.modal .content{
    background-color: #E2F0EB4D;
    padding:20px;
    min-height: 100px;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    color:#eee;
    font-family: monospace;
    transform: translate(0,70px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.2s;
}
.modal .confirm{
    text-align: center;
    margin-top:30px;
}
.modal .content label,
.modal .content button{
    display: inline-block;
    border:none;
    padding:10px;
    color:#fff;
    margin: 0 10px;
}
.modal .content label{
    background-color: #ffffff4D;
}
.modal .content button{
    background-color: #986FEA;
}
.modal input[name="setingModal"]{
    display: none;
}
.modal:has(input[name="setingModal"]:checked){
    transition: 0s;
    transform: translate(-50%,-50%) scale(1);
}
.modal:has(input[name="setingModal"]:checked) .header{
    opacity: 1;
    transform: translate(0,0);
}
.modal:has(input[name="setingModal"]:checked) .content{
    transition-delay: 0s;
    opacity: 1;
    transform: translate(0,-70px);
}
.modal:has(input[name="setingModal"]:checked) .header img:nth-child(1){
    opacity: 1;
    transform: translate(0,0);
    transition-delay: 0.3s;
}
.modal:has(input[name="setingModal"]:checked) .header img:nth-child(2){
    opacity: 1;
    transform: rotate(-20deg);
    transition-delay: 0.5s;
    top:-20px;
}
.modal:has(input[name="setingModal"]:checked) .header img:nth-child(3){
    opacity: 1;
    transform: rotate(20deg);
    transition-delay: 0.5s;
    bottom:20px;
}

a{
  text-decoration:none;
  color:#fff;
}