body{
  background: #909090;
  color: #101010;
}

select{
float:right;
  outline:none;
  }


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.btn {
  margin: 25px 0 0 65px;
}

.alert {
  position: relative;
}

.alert > span {
  position: absolute;
  cursor: pointer;
  top: -5px;
  right: 5px;
  font-size: 22px;
}

.hidden {
  display: none;
}

/* коправат */
pre{
  position: relative;
  padding: 8px;
  font-size: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 500px;
  color: #1200FF;
  width: 80%;
  height: 120px;
}

.copy-button {
  position: absolute;
  cursor: pointer;
  color: #D9DB00;
  background: #2100DB;
  border-radius: 0.5em;
  padding: 2px 7px;
}

.copy-button:hover {
  color: red;
}

/* дигар кашлокҳо */


.topdiv{
width: 70%;
height: 350px;
color: #3BDB00;
background: #000;
border-radius: 10px;

}

.appicon{
  width: 120px;
  border-radius: 8px;
}
